{% extends 'main.html' %}

{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}

{% block content %}
<br>
<br>
<section class="mb-16">
    <div class="container mx-auto py-8">
        <h1 class="text-4xl font-bold mb-4">Available Services for {{ subcategory.name }}</h1>
        <!-- Searchbar -->
        <form method="GET" action="" class="mb-8">
            <input type="text" name="q" placeholder="Search by City" value="{{ request.GET.q }}" class="p-2 border rounded">
            <button type="submit" class="p-2 bg-gray-300 text-black rounded">Search</button>
        </form>
        <div class="grid-cols-1 gap-6">
            {% if not page_obj %}
                <p>No services available at this time.</p>
            {% else %}
                {% for service in page_obj %}
                <div class="bg-white p-6 rounded-lg shadow-md mb-4 hover:scale-105">
                    {% if user.is_authenticated %}
                        <a href="{% url 'book_service_page' service.id %}">
                            <h2 class="text-2xl font-semibold mb-2">{{ service.name }}</h2>
                            <p class="mb-2"><strong>Price Range:</strong> {{ service.price_range }}</p>
                            <p class="mb-2"><strong>Cities:</strong>
                                {% for city in service.cities.all %}
                                    {{ city.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <p class="mb-2"><strong>Availability:</strong> {{ service.availability }}</p>
<!--                            {% if service.picture %}-->
<!--                                <img class="mt-4 w-full h-48 object-cover" src="{{ service.picture.url }}" alt="{{ service.name }} picture">-->
<!--                            {% endif %}-->
                        </a>
                    {% else %}
                        <a href="{% url 'register' %}">
                            <h2 class="text-2xl font-semibold mb-2">{{ service.name }}</h2>
                            <p class="mb-2"><strong>Price Range:</strong> {{ service.price_range }}</p>
                            <p class="mb-2"><strong>Cities:</strong>
                                {% for city in service.cities.all %}
                                    {{ city.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <p class="mb-2"><strong>Availability:</strong> {{ service.availability }}</p>
<!--                            {% if service.picture %}-->
<!--                                <img class="mt-4 w-full h-48 object-cover" src="{{ service.picture.url }}" alt="{{ service.name }} picture">-->
<!--                            {% endif %}-->
                        </a>
                    {% endif %}
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- Pagination links -->
        <div class="mt-8 flex justify-center">
            <div class="inline-flex items-center space-x-4">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="text-sm text-gray-700 hover:text-gray-900 border border-gray-300 rounded-md px-3 py-1">First</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="text-sm text-gray-700 hover:text-gray-900 border border-gray-300 rounded-md px-3 py-1">&laquo; Previous</a>
                {% endif %}
        
                <span class="text-sm text-gray-700">Page: {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="text-sm text-gray-700 hover:text-gray-900 border border-gray-300 rounded-md px-3 py-1">Next &raquo;</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="text-sm text-gray-700 hover:text-gray-900 border border-gray-300 rounded-md px-3 py-1">Last</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
            

{% endblock %}

