{% extends 'main.html' %}

{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <!-- Hero Section -->
    <section class="bg-gray-900 text-white py-16 mb-16">
        <div class="text-center">
            <h1 class="text-4xl font-bold mb-4">Welcome to Iterio</h1>
            <p class="text-lg">Your one-stop destination for trusted service providers</p>
        </div>
    </section>

    <!-- Services -->
    <section class="mb-16">
        <div class="text-center mb-8">
            <h2 class="text-3xl font-bold">Our Services</h2>
            <p class="text-gray-600">Discover the wide range of services we offer</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Display All the Category's-->
            {% for category in categories %}
            <div class="bg-white rounded-lg shadow-lg p-6 hover:scale-105">
                <a href="{{ category.redirect }}">
                    <img src="{{ category.img_path }}" alt="{{ category.name }}" class="w-full h-40 object-cover rounded-lg mb-4">
                    <h3 class="text-xl font-bold mb-2">{{ category.name }}</h3>
                    <p class="text-gray-600">{{ category.details }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
