{% extends 'main.html' %}

{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}

{% block content %}
<div class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="max-w-lg w-full bg-white p-8 rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold text-gray-900 mb-6 text-center">Profile</h1>
        <div class="space-y-4">

            <div class="text-center">
                {% if profile.profile_picture %}
                    <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="w-32 h-32 rounded-full mx-auto">
                {% else %}
                    <img src="{% static 'images/iterio-logo2.png' %}" alt="Default Profile Picture" class="w-32 h-32 rounded-full mx-auto">
                {% endif %}
            </div>

            <div>
                <p class="text-lg font-semibold text-gray-700">Name: <span class="text-gray-900">{{ user.first_name }} {{ user.last_name }}</span></p>
            </div>
            <div>
                <p class="text-lg font-semibold text-gray-700">Username: <span class="text-gray-900">{{ user.username }}</span></p>
            </div>
            <div>
                <p class="text-lg font-semibold text-gray-700">Email: <span class="text-gray-900">{{ user.email }}</span></p>
            </div>
            <div>
                <p class="text-lg font-semibold text-gray-700">Phone: <span class="text-gray-900">{{ profile.phone }}</span></p>
            </div>
            <div>
                <p class="text-lg font-semibold text-gray-700">Address 1: <span class="text-gray-900">{{ profile.address1 }}</span></p>
            </div>
            <div>
                <p class="text-lg font-semibold text-gray-700">Address 2: <span class="text-gray-900">{{ profile.address2 }}</span></p>
            </div>
            <div>
                <p class="text-lg font-semibold text-gray-700">City: <span class="text-gray-900">{{ profile.city }}</span></p>
            </div>
            <div>
                <p class="text-lg font-semibold text-gray-700">Zip Code: <span class="text-gray-900">{{ profile.zipcode }}</span></p>
            </div>
            <div>
                <p class="text-lg font-semibold text-gray-700">Country: <span class="text-gray-900">{{ profile.country }}</span></p>
            </div>
            <div>
                <p class="text-lg font-semibold text-gray-700">User Type:
                    <span class="text-gray-900">
                        {% if profile.user_type == 'provider' %}
                            Service Provider
                        {% else %}
                            Regular User
                        {% endif %}
                    </span>
                </p>
            </div>

        </div>

        <div class="mt-8 space-y-4">
            <a href="{% url 'update_user' %}" class="block w-full py-2 px-4 text-center bg-gray-900 text-white font-semibold rounded-md shadow-sm hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Update User
            </a>
            <p class="text-lg font-semibold text-gray-700">Password: <span class="text-gray-900">********</span></p>
            <a href="{% url 'update_password' %}" class="block w-full py-2 px-4 text-center bg-gray-900 text-white font-semibold rounded-md shadow-sm hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                Change Password
            </a>
        </div>
    </div>
</div>
{% endblock %}
