{% extends 'main.html' %}

{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}

{% block content %}
<div class="bg-gray-100 min-h-screen flex items-center justify-center py-12">
    <div class="max-w-3xl w-full bg-white p-8 rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold text-gray-900 mb-8 text-center">{{ service.name }}</h1>
        <div class="space-y-6">
            <div class="border border-gray-300 p-6 rounded-lg shadow-sm">
                {% if service.picture %}
                    <div class="w-full h-64">
                        <img src="{{ service.picture.url }}" alt="{{ service.name }}" class="w-full h-full object-cover rounded-md">
                    </div>
                {% endif %}
                <div class="mt-4">
                    <div class="text-gray-600"><strong>Description:</strong> {{ service.description|safe }}</div>
                    <p class="text-gray-600 mt-4"><strong>Price Range:</strong> {{ service.price_range }}</p>
                    <p class="text-gray-600 mt-2"><strong>Category:</strong> {{ service.category.name }}</p>
                    <p class="text-gray-600 mt-2"><strong>Subcategory:</strong> {{ service.subcategory.name }}</p>
                    <p class="text-gray-600 mt-2"><strong>Cities:</strong> {% for city in service.cities.all %}{{ city.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                    <p class="text-gray-600 mt-2"><strong>Availability:</strong> {{ service.availability }}</p>
                    <p class="text-gray-600 mt-2"><strong>Contact Info:</strong> {{ service.contact_info }}</p>
                </div>
                <div class="mt-8 flex justify-between">
                    <a href="{% url 'add_time_slot' service.id %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Add Time Slot</a>
                    <a href="{% url 'time_slots_created' service.id %}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">View Time Slots</a>
                    <a href="{% url 'update_service' service.id %}" class="py-2 px-4 bg-gray-900 text-white font-semibold rounded-md shadow-sm hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Update Service</a>
                    <a href="{% url 'delete_service' service.id %}" class="py-2 px-4 bg-red-600 text-white font-semibold rounded-md shadow-sm hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">Delete Service</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
/* Add custom styles for the description content */
.description-content ul {
    list-style-type: disc; /* Ensure bullet points are shown */
    margin-left: 20px; /* Indent the list */
}
.description-content ol {
    list-style-type: decimal; /* Ensure ordered lists are shown */
    margin-left: 20px; /* Indent the list */
}
</style>
{% endblock %}
