{% extends 'main.html' %}

{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}

{% block content %}
<body class="font-sans text-gray-900 bg-gray-100">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6">{{ service.name }} - Created Time Slots</h1>
        
        <table class="min-w-full bg-white shadow-md rounded-lg">
            <thead>
                <tr>
                    <th class="py-2 px-4 bg-gray-200 font-bold uppercase text-sm text-gray-600">Date</th>
                    <th class="py-2 px-4 bg-gray-200 font-bold uppercase text-sm text-gray-600">Start Time</th>
                    <th class="py-2 px-4 bg-gray-200 font-bold uppercase text-sm text-gray-600">End Time</th>
                    <th class="py-2 px-4 bg-gray-200 font-bold uppercase text-sm text-gray-600">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for timeslot in timeslots %}
                    {% if timeslot.date >= today %}
                    <tr>
                        <td class="py-2 px-4">{{ timeslot.date }}</td>
                        <td class="py-2 px-4">{{ timeslot.start_time }}</td>
                        <td class="py-2 px-4">{{ timeslot.end_time }}</td>
                        <td class="py-2 px-4">
                            <a href="{% url 'update_time_slot' timeslot.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</a>
                            <a href="{% url 'delete_time_slot' timeslot.id %}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded delete-timeslot">Delete</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('.delete-timeslot').on('click', function(event) {
            event.preventDefault();
            var link = $(this).attr('href');
            Swal.fire({
                title: 'Are you sure?',
                text: 'Do you really want to delete this timeslot?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = link;
                }
            });
        });
    });
</script>
{% endblock %}