{% extends 'main.html' %}

{% block content %}
<div class="bg-gray-100 min-h-screen flex items-center justify-center">
    <!-- Update User -->
    <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold text-gray-900 mb-6 text-center">Update Profile</h1>
        <form method="POST" action="{% url 'update_user' %}" >
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ user_info_form.as_p }}
            <button type="submit" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-white bg-gray-900 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Update</button>
        </form>
    </div>
</div>
{% endblock %}
