{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}

<nav class="bg-gray-900 py-1">
    <div class="container mx-auto px-1">
        <div class="flex items-center justify-between">
            <!-- Logo -->
            <a href="{% url 'home' %}" class="text-white">
                <img src="{% static '/images/iterio-logo3.png' %}" alt="Iterio Logo" class="h-12" />
            </a>

            <!-- Navigation Links -->
            <ul class="flex items-center space-x-4">
                <li>
                    <a href="{% url 'home' %}" class="text-white hover:text-gray-300">Home</a>
                </li>
                <li>
                    <a href="{% url 'about' %}" class="text-white hover:text-gray-300">About Us</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'inbox' %}" class="text-white hover:text-gray-300">Inbox</a>
                </li>
                <li>
                    <a href="{% url 'profile' %}" class="text-white hover:text-gray-300">Profile</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}" class="text-white hover:text-gray-300">Logout</a>
                </li>
                <li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}" class="text-white hover:text-gray-300">Login</a>
                </li>
                <li>
                    <a href="{% url 'register' %}" class="text-white hover:text-gray-300">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
